.hamburger {
  position: absolute;
  z-index: 5;
  top: 30px;
  right: 50px;
  width: $icon-size;
  height: $icon-size;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    top: unset;
    bottom: 20px;
    right: 80px;
  }
}
