$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;

@import '~normalize.css';
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

@import 'modules/flex.scss';
@import 'modules/hamburger.scss';
@import 'modules/navigation.scss';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: white;
  color: black;
  height: 100vh;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
