@import '~normalize.css';
@import '_variables';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: $background;
  color: $text;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.navigation {
  &__info-button {
    position: absolute;
    z-index: 5;
    top: 3vh;
    left: 3vw;
    width: $icon-size;
    height: $icon-size;
    cursor: pointer;
  }
  &__burger-button {
    position: absolute;
    z-index: 5;
    top: 3vh;
    right: 3vw;
    width: $icon-size;
    height: $icon-size;
    cursor: pointer;
  }
  &__content {
    width: 100vw;
    height: 100vh;
    border: 5px solid #000;
    display: none;
  }
}
