$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;

@import '~normalize.css';
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: $background;
  color: $text;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  @media screen and (max-width: 425px) {
    background: url(./../assets/img/slice1.svg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position-y: 92vh;
  }
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100vw;
  &__add {
    align-self: center;
    width: 8vw;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover {
      transform: scale(1.08);
    }
  }
  &__subtract {
    align-self: center;
    width: 8vw;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover {
      transform: scale(1.08);
    }
  }
  &__main {
    display: grid;
    grid-template: 1fr / 1fr;
    &-counter {
      justify-self: center;
      align-self: center;
      grid-column-start: 1;
      grid-row-start: 1;
      font-size: 14rem;
    }
    &-glass {
      width: 22vw;
      grid-column-start: 1;
      grid-row-start: 1;
    }
  }
  @media screen and (max-width: 425px) {
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    &__add {
      width: 25vw;
    }
    &__subtract {
      width: 15vw;
      order: 3;
    }
    &__main {
      height: 60vh;
      &-counter {
        font-size: 12em;
        margin-top: 24vh;
      }
      &-glass {
        justify-self: center;
        align-self: center;
        width: 70vw;
      }
    }
  }
}
.hamburger {
  position: absolute;
  z-index: 5;
  top: 3vh;
  right: 3vw;
  width: $icon-size;
  height: $icon-size;
  cursor: pointer;
  @media screen and (max-width: 425px) {
    top: 94vh;
    right: 20vw;
  }
}

.navigation {
  &__content {
    width: 100vw;
    height: 100vh;
    border: 5px solid #000;
    position: absolute;
    top: 0;
    display: flex;
    background-color: $background;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  &__information-content {
    width: 100vw;
    height: 100vh;
    border: 5px solid #000;
    position: absolute;
    top: 0;
    display: flex;
    background-color: $background;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  &__history {
    &-content {
      background-color: $background;
      width: 100vw;
      height: 100vh;
      border: 5px solid #000;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: all 300ms ease-in-out;
      z-index: 4;
    }
    &-element {
      background-color: #ebe9e9;
      border-radius: 10px;
      transition: background-color 300ms ease-in-out;
      display: flex;
      flex-direction: column;
      padding: 7%;
      &-header {
        font-size: 1.2em;
        margin: 0;
        text-align: center;
      }
      &-text {
        font-size: 1em;
        font-weight: 400;
      }
      &:hover {
        background-color: #d6d6d6;
      }
    }
    &-grid {
      width: 80vw;
      height: 80vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      column-gap: 10px;
      row-gap: 10px;
      overflow: scroll;
    }
  }
  &__info-button {
    position: absolute;
    z-index: 5;
    top: 3vh;
    left: 3vw;
    width: $icon-size;
    height: $icon-size;
    cursor: pointer;
    z-index: 3;
  }
  &__text {
    font-size: 4vw;
    &--big {
      font-size: 6vw;
    }
    &--small {
      font-size: 2vw;
      font-weight: 400;
    }
    &--history {
      font-size: 1.6vw;
      font-weight: 400;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__information-text {
    width: 60vw;
    font-weight: 400;
    font-size: 1em;
  }
  @media screen and (max-width: 425px) {
    &__content {
      z-index: 3;
    }
    &__text {
      text-align: center;
      font-size: 2em;
      &--big {
        font-size: 2.1em;
      }
      &--small {
        font-size: 1.5em;
      }
    }
    &__history {
      &-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        column-gap: 0;
      }
    }
    &__info-button {
      width: $icon-size-mobile;
      height: $icon-size-mobile;
      top: 94vh;
      left: 20vw;
    }
    &__information-text {
      width: 80vw;
      font-size: 0.8em;
    }
  }
}
